plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
}

azure {
  registry {
    server = secrets.azure-registry-server
    userName = secrets.azure-registry-userName
    password = secrets.azure-registry-password
  }
  batch {
    location = secrets.azure-batch-location
    accountName = secrets.azure-batch-accountName
    accountKey = secrets.azure-batch-accountKey
      pools {
        default {
          autoScale = true
          vmCount = 1
          maxVmCount = 2
          vmType = 'Standard_D4_v3'
          sku = 'batch.node.ubuntu 20.04'
          offer = 'ubuntu-server-container'
          publisher = 'microsoft-azure-batch'
        }
      }
  }
  storage {
    accountName = secrets.azure-storage-accountName
    accountKey = secrets.azure-storage-accountKey
    fileShares {
      batchsmb {
        mountPath = '/mnt/batch/tasks/fsmounts'
      }
    }
  }
}

params {
  azureRegistryServer = secrets.azure-registry-server
}
